SparkTank.API/bin
SparkTank.API/appsettings.json
SparkTank.API/obj
SparkTank.Application/bin
SparkTank.Application/obj
SparkTank.Domain/bin
SparkTank.Domain/obj
SparkTank.Infrastructure/bin
SparkTank.Infrastructure/obj
SparkTank.Persistence/bin
SparkTank.Persistence/obj
SparkTank.Persistence/Migrations
test/SparkTank.UnitTest/bin
test/SparkTank.UnitTest/obj
test/SparkTank.UnitTest/Tester.sh
test/SparkTank.UnitTest/TestCoverage
test/SparkTank.UnitTest/.config
test/SparkTank.UnitTest/coveragereport
.vs
Request.http
.env
